@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Kargo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<br />
<div class="card-body p-0">
    <table id="tbl1" class="table table-striped projects">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Ürün
                </th>
                <th>
                    Ürün Görsel
                </th>
                <th>
                    Alıcı
                </th>
                <th>
                    Takip Kodu
                </th>
                <th>
                    Tarih
                </th>
                <th>
                    Kargo Takip
                </th>
                


            
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {


                <tr>
                    <td>
                        #@item.KargoId
                    </td>
                    <td>

                        @item.Satışlar.Ürünler.ÜrünAd


                    </td>

                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <img alt="Avatar" class="table-avatar" src="@item.Satışlar.Ürünler.ÜrünGörsel">
                            </li>



                        </ul>
                    </td>
                    <td>
                        @item.Satışlar.Müşteriler.MüşteriAd @item.Satışlar.Müşteriler.MüşteriSoyad
                    </td>
                    <td>
                        @item.TakipKodu
                    </td>
                    <td>
                        @item.Tarih.ToString("d")
                    </td>

                    <td>
                        <a class="btn btn-primary btn-sm" href="/Kargo/Takip/@item.KargoId">
                            <i class="fa fa-truck">
                            </i>

                        </a>

                        <a class="btn btn-outline-dark btn-sm" href="/QR/Index/@item.KargoId">
                            <i class="fa fa-qrcode">
                            </i>

                        </a>

                    </td>
</tr>

            }






        </tbody>
    </table>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>
