@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model  MvcOnlineTicariOtomasyon.Models.Sınıflar.Müşteriler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/KullanıcıLayout.cshtml";
}

<!--
    CSS
    ============================================= -->
<link rel="stylesheet" href="/Klasörler/web5/css/linearicons.css">
<link rel="stylesheet" href="/Klasörler/web5/css/owl.carousel.css">
<link rel="stylesheet" href="/Klasörler/web5/css/themify-icons.css">
<link rel="stylesheet" href="/Klasörler/web5/css/font-awesome.min.css">
<link rel="stylesheet" href="/Klasörler/web5/css/nice-select.css">
<link rel="stylesheet" href="/Klasörler/web5/css/nouislider.min.css">
<link rel="stylesheet" href="/Klasörler/web5/css/bootstrap.css">
<link rel="stylesheet" href="/Klasörler/web5/css/main.css">
<body>

    <!-- Start Header Area -->
    <!-- End Header Area -->
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Kullanıcı Bilgi Güncelle</h1>
                    <nav class="d-flex align-items-center">

                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!--================Login Box Area =================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" src="/Klasörler/web5/img/login.jpg" alt="">
                      
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="login_form_inner">
                       
                        @using (Html.BeginForm("Index", "KullanıcıGüncelle", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(x=>x.MüşteriId)

                    <div class="col-md-12 form-group">
                        <label  for="inputName">Adınız</label>
                        @Html.TextBoxFor(x => x.MüşteriAd, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="inputName">Soyadınız</label>
                        @Html.TextBoxFor(x => x.MüşteriSoyad, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="inputName">Şehir</label>
                        @Html.TextBoxFor(x => x.MüşteriŞehir, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="inputName">Mail Adresi</label>
                        @Html.TextBoxFor(x => x.MüşteriMail, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="inputName">Şifre</label>
                        @Html.TextBoxFor(x => x.MüşteriŞifre, new { @class = "form-control" })
                    </div>
                            <div class="col-md-12 form-group">
                                <input class="btn btn-outline-primary btn-block text-uppercase" type="file" name="MüşteriFotograf" />

                            </div>


                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn btn-outline-dark">Bilgiierimi Güncelle</button>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->
    <!-- start footer Area -->
    <!-- End footer Area -->


</body>




