
@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Class1


<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge">5</span>
    </a>

   

    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        @foreach (var item in Model.yrm)
        {
            <!-- Message Start -->
            <li class="media">
                <img src="@item.Ürünler.ÜrünGörsel" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                <div class="media-body">
                    <h2 class="dropdown-item-title">
                  <img src="@item.Müşteriler.MüşteriFotograf" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        @item.Müşteriler.MüşteriAd @item.Müşteriler.MüşteriSoyad
                        <span class="float-right text-sm text-danger">@item.Tarih.ToString("d")</span>
                    </h2>
                    <p class="text-sm">@item.İçerik</p>
                 
                </div>
            </li>
            
            
            <!-- Message End -->

            }
            <a href="#" class="dropdown-item dropdown-footer">Son 5 Yorum Listelendi</a>
        </ul>
    
    </li>

<!-- Notifications Dropdown Menu -->
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">@ViewBag.d4</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">@ViewBag.d4 Bildirim</span>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> @ViewBag.d1 Mesaj
           
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> @ViewBag.d2 Yorum
           
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> @ViewBag.d3 Duyuru

        </a>
        <div class="dropdown-divider"></div>
       
    </div>
</li>
